* {
    margin: 0%;
    padding: 0%;
}


body {
    background-image: url(imagens/fundo-madeira.jpg);
    background-size: cover;
    background-color: black;
}

#frame-iphone{
    position: relative;
}

iframe {
    position: absolute;
    height: 630px;
    width: 310px;
    top: 10vh;
    left: 39vw;

}

#iphoneimg {
    position: absolute;
    height: 472px;
    width: 268px;
    top: 20vh;
    left: 40.5vw;
}
#logo {
    display: block;
    border-radius: 50%;
    position: relative;
    height: 50px;
    width: 50px;
    left: 95.7%;
    margin-top: 20px;
}
