* {
    margin: 0%;
    padding: 0%;
}

html, body {
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;

}

body {
    background-image: url(imagens/fundo-madeira.jpg);
    background-size: cover;
    background-color: black;
    background-attachment: fixed
}

#telefone {
    position: absolute;
    height: 627px;
    width: 311px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(imagens/frame-iphone.png);
}

iframe {
    position: absolute;
    height: 470px;
    width: 268px;
    top: 12.9%;
    left: 21px;
}

#redessociais{
    text-align: right;
}

#logo {
    border-radius: 50%;
    box-shadow: 3px 0px 6px 1px rgba(0, 0, 0, 0.295);
    box-sizing: border-box;
    width: 50px;
    margin: 10px;
    
}

section#redessociais img:hover {
     border: 2px solid white;
     transform: translate(-3px, -3px);
     box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.61);
     transition: transform .4s, border .1s;
}